.register_page {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 30px;
  height: calc(100vh - 124px);
}
.register_page .left {
  width: 100%;
  height: 100%;
}
.register_page .left img {
  width: 90%;
  height: 100%;
  object-fit: fill;
  /* margin-top: 60px; */
}
.register_page .right .title {
  margin-bottom: 15px;
}
.register_page .right {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.register_page .right {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right form .title {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-align: center;
}

/* //responsive */
@media only screen and (max-width: 1089px) {
  .register_page {
    /* flex-direction: column; */
    padding: 20px;
  }

  .register_page .left {
    display: none;
  }
}
