.cart {
  display: flex;
  padding: 50px 150px;
  gap: 115px;
  justify-content: space-between;
}
/* left section */
.cart .left {
  flex: 1;
  max-width: 608px;
}
.cart .right {
  flex: 1;
  max-width: 608px;
}

.cart .left .title {
  color: #1e1e1e;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 15px;
}
.cart .left .divider {
  background-color: #1e1e1e;
  width: 100%;
  height: 1px;
  margin-bottom: 15px;
}

.cart .left .content .title {
  padding: 0;
  margin: 0;
}

.cart .left .content .subtitle {
  color: #1e1e1e;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 30px !important;
}
/* right section */

.right .title {
  color: #1e1e1e;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 15px;
}
.right .email {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #274c5b;
  background: var(--light-fills-color-text-field, #fff);
  /* width: 502.056px; */
  height: 56px;
  flex-shrink: 0;
  padding: 0 10px;
  margin-bottom: 15px;
}

.right .btn_apply {
  display: flex;
  width: 112.341px;
  height: 48px;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #274c5b;
  border: none;
  /* text */
  color: var(--light-text-link-color-white, #fff);
  text-align: center;

  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.08px;
  margin-bottom: 50px;
  cursor: pointer;
}
.right .totals {
  display: flex;
  gap: 30px;
  flex-direction: column;
}
.right .totals .inv_item {
  display: flex;
  gap: 80px;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
}
.right .totals .inv_item p {
  color: var(--light-text-color-title, #11142d);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.08px;
}

.right .totals .inv_item span {
  color: var(--light-text-color-title, #11142d);

  /* Menu/Menu 1 Regular */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.08px;
}
.right .totals .total span {
  font-size: 16px;
  font-weight: 700;
}

.right .totals .checkout_btn {
  display: flex;
  height: 56px;
  padding: 18px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: none;
  width: 100%;
  cursor: pointer;
}
/* responsive */
@media only screen and (max-width: 1600px) {
  .cart {
    padding: 50px 100px;
  }
}

@media only screen and (max-width: 1200px) {
  .cart {
    flex-wrap: wrap;
  }
  .cart .left {
    flex: 2;
    max-width: 608px;
  }
  .cart .right {
    flex: 1;
    max-width: 608px;
  }
}
@media only screen and (max-width: 1120px) {
  .cart {
    gap: 40px;
  }
}
@media only screen and (max-width: 1000px) {
  .cart {
    padding: 40px 50px;
  }
}

@media only screen and (max-width: 860px) {
  .cart .left {
    flex: 100%;
    max-width: 100%;
  }
  .cart .right {
    flex: 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 700px) {
  .cart {
    padding: 30px 30px;
  }
}
