.sidebar {
  width: 400px;
  left: 0;
  position: absolute;
  height: 100vh;
  background-color: #fff;
  top: 80px;
  overflow: hidden;
  position: fixed;
  display: none;
}
.closed {
  left: -400px;
}

.open {
  left: 0px;
  color: red;
}

.sidebar ul {
  width: 100%;
  padding: 30px;
}

@media only screen and (max-width: 900px) {
  .sidebar {
    display: block;
  }
}
