.register_form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.register_form p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #5b5b5b;
  max-width: 435px;
  margin: 22px 0 22px 0;
}
.register_form .form_item {
  width: 100%;
  max-width: 435px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}
.register_form .form_item label {
  text-align: left !important;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 12px;
}
.register_form input {
  width: 100%;
  background: #ffffff;
  border: 1px solid #49bbbd;
  border-radius: 40px;
  /* height: 50px; */
  padding: 19px 30px;
  /* max-width: 374px; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.register_form .form_item input::placeholder {
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  color: #acacac;
}

.action_form_login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 0;
  margin-bottom: 52px;
}
.action_form_login span {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
  gap: 5px;
}

@media only screen and (max-width: 459px) {
  .register_form input {
    padding: 17px 12px;
  }
}
